[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = https://github.com/Xzya/hugo-bootstrap.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
